html, body, #root {
  font-family: 'Josefin Sans', sans-serif;
}

button,
input,
textarea,
select {
  font-family: inherit;
}


body {
  margin: 0;
    font-family: 'Diastema', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
